@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
  }
@font-face {
    font-family: 'SANGJUDajungdagam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANGJUDajungdagam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: 'KOMACON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/KOMACON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body, [class*="css"] {
    font-family: 'SANGJUDajungdagam', 'bitbit', 'Gugi', cursive;
}